language: python
os: linux
dist: bionic
python:
  - "3.11"
  
install:
  - pip install -r requirements.txt
  - pip install coveralls
  - mkdir ./tools
  - curl -L https://coveralls.io/coveralls-linux.tar.gz | tar -xz -C ./tools

before_script:
  - python manage.py makemigrations 
  - python manage.py migrate
  - python manage.py collectstatic --noinput
  
script:
  - black --check .
  - flake8 .
  - coverage run manage.py test
  - coverage xml
  - ./tools/coveralls report --repo-token=$COVERALLS_REPO_TOKEN ./coverage.xml
  
after_script:
  - coveralls

deploy:
  provider: elasticbeanstalk
  access_key_id: "$AWS_ACCESS_KEY_ID"
  secret_access_key: "$AWS_SECRET_ACCESS_KEY"
  region: "us-east-1"
  app: "roleplaydate"
  env: "roleplaydate-dev"
  bucket_name: "$S3_BUCKET_NAME"
  on:
    branch: develop

