asgiref==3.7.2
awsebcli==3.20.10
black==23.10.0
blessed==1.20.0
botocore==1.31.63
cement==2.8.2
certifi==2023.7.22
charset-normalizer==3.3.0
colorama==0.4.3
coverage==6.5.0
crispy-bootstrap4==2022.1
Django==4.2
django-crispy-forms==2.1
django-environ==0.11.2
django-fsm==2.8.1
environ==1.0
flake8==6.1.0
gunicorn==21.2.0
idna==3.4
jmespath==1.0.1
packaging==23.2
pathspec==0.10.1
Pillow==10.1.0
psycopg2-binary==2.9.9
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
semantic-version==2.8.5
six==1.16.0
sqlparse==0.4.4
termcolor==1.1.0
typing_extensions==4.8.0
urllib3==1.26.17
wcwidth==0.1.9
channels~=4.0.0
channels-redis~=3.3.0
