files:
  "/etc/cron.d/mycronjob":
    mode: "000644"
    owner: root
    group: root
    content: |
      0 19 * * * root /bin/bash -c 'env > /var/log/cron_env_before.log; while IFS="=" read -r name value; do export "$name"="$value"; done < <(jq -r "to_entries|map(\"\(.key)=\(.value|tostring)\")|.[]" /opt/elasticbeanstalk/deployment/envvars.json) && echo "RDS_DB_NAME is set to: $RDS_DB_NAME" >> /var/log/reset_likes.log; env > /var/log/cron_env_after.log; /var/app/venv/staging-LQM1lest/bin/python /var/app/current/manage.py reset_likes' >> /var/log/reset_likes.log 2>&1

commands:
  remove_old_cron_job:
    command: "rm -f /etc/cron.d/mycronjob.bak"

services:
  sysvinit:
    crond:
      enabled: true
      ensureRunning: true
