option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "roleplaydate.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: roleplaydate.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  files:
    "/etc/nginx/conf.d/custom.conf" :
      mode: "000644"
      owner: root
      group: root
      content: |
        http {
          types_hash_max_size 2048;
          types_hash_bucket_size 64;
        }

