option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "roleplaydate.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: roleplaydate.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static


container_commands:
  01_installdaphne:
    command: "pip install daphne"
  02_runasgi:
    command: "daphne -p 8001 roleplaydate.asgi:application"