option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "roleplaydate.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: roleplaydate.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static


container_commands:
  01_migration:
    command: "source /var/app/venv/*/bin/activate && python manage.py makemigrations"
    leader_only: true
  02_migration:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate"
    leader_only: true
  03_collect_static:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true
  04_set_db_permissions:
    command: "sudo chmod 777 /var/app/current/db.sqlite3"
    leader_only: true
