files:
  "/etc/nginx/conf.d/custom_proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      upstream django {
          server 127.0.0.1:8000; # Your WSGI server
      }

      upstream daphne {
          server 127.0.0.1:8001; # Your Daphne server
      }

      # Setup for WebSockets and ASGI
      map $http_upgrade $connection_upgrade {
          default upgrade;
          '' close;
      }

      server {
          listen 80;

          location / {
              proxy_pass http://django;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;
          }

          location /ws/ {
              proxy_pass http://daphne;
              proxy_http_version 1.1;
              proxy_set_header Upgrade $http_upgrade;
              proxy_set_header Connection $connection_upgrade;

              proxy_redirect off;
              proxy_set_header Host $host;
          }

          # ... other configurations ...
      }
'''
container_commands:
  01_reload_nginx:
    command: "service nginx reload"
'''