files:
  "/etc/supervisord.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [supervisord]
      nodaemon=false

      [program:daphne]
      command=daphne -p 8001 roleplaydate.asgi:application
      autostart=true
      autorestart=true
      stdout_logfile=/var/log/daphne.log
      stderr_logfile=/var/log/daphne.err.log

commands:
  01_install_supervisor:
    command: "pip install supervisor"
  02_start_supervisord:
    command: "supervisord -c /etc/supervisord.conf"
