files:
  "/etc/supervisord.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [supervisord]
      nodaemon=false

      [program:daphne]
      command=/bin/bash -c 'source /var/app/venv/staging-LQM1lest/bin/activate && while IFS="=" read -r name value; do export "$name"="$value"; done < <(jq -r "to_entries|map(\"\(.key)=\(.value|tostring)\")|.[]" /opt/elasticbeanstalk/deployment/envvars.json) && daphne -p 8001 roleplaydate.asgi:application'
      autostart=true
      autorestart=true
      stdout_logfile=/var/log/daphne.log
      stderr_logfile=/var/log/daphne.err.log

commands:
  01_install_supervisor:
    command: "pip install supervisor"
  02_kill_daphne:
    command: "pkill -f 'daphne'"
    ignoreErrors: true
  03_start_supervisord:
    command: "supervisord -c /etc/supervisord.conf"
