files:
  "/etc/supervisord.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [supervisord]
      nodaemon=true

      [program:daphne]
      command=daphne -u /tmp/daphne.sock roleplaydate.asgi:application
      autostart=true
      autorestart=true

commands:
  start_supervisord:
    command: "supervisord -c /etc/supervisord.conf"