{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- <style>
    .character-selection {
        text-align: center;
    }
    .character-option {
        display: inline-block;
        margin: 10px;
        vertical-align: top;
    }
    .character-option img {
        width: 100px;
        height: auto;
        border-radius: 50%;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
    .character-option input[type="radio"] {
        display: none;
    }
    .character-option label {
        cursor: pointer;
        display: block;
    }
    .character-option input[type="radio"]:checked + label {
        outline: 2px solid #f00;
    }
    .confirm-btn {
        background-color: #6200ee;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 1em;
        cursor: pointer;
        border-radius: 5px;
        margin-top: 10px;
    }
    .confirm-btn:hover {
        background-color: #3700b3;
    }
    .descriptive-tags {
        color: #fff;
        font-size: 0.7em;
    }
    

</style> -->


<div class="character-selection">
<div class="character-selection">
    <h2>Select Your Character</h2>
    <form method="post">
        {% csrf_token %}
        {% for choice in character_form.character.field.queryset %}
            <div class="character-option">
                <input type="radio" id="id_character_{{ forloop.counter0 }}" name="character" value="{{ choice.id }}" hidden>
                <label for="id_character_{{ forloop.counter0 }}">
                    <img src="{{ choice.image.url }}" alt="{{ choice }}">
                    <div>{{ choice }}</div> <!-- This will call the __str__ method of the Character model -->
                    <!-- Static descriptive tags displayed here -->
                    <div class="descriptive-tags">{{ choice.description }}</div>
                </label>
            </div>
        {% endfor %}
        <!-- Moon Sign Interpretation Form Fields -->
        <div class="moon-sign-fields">
            <!-- Loop through each field in the moon sign form -->
            {% for field in moon_sign_form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                        <p class="help-text">{{ field.help_text }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>


        <div id="submit"></div>
        <button type="submit" class="confirm-btn">Confirm Selection</button>
    </form>
</div>

{% endblock content%}

{% block styles %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
{% endblock %}