{% extends "base.html" %}
<!-- {% load static %} -->

{% block css %}
<style>
    .container {
        max-width: 800px;
        margin: auto;
    }
    .sender-block {
        background-color: #f8f8f8;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 8px;
        animation: fadeIn 2s;
    }
    .emoji-sequence, .attitude-summary {
        margin-bottom: 10px;
    }
    .emoji {
        display: inline-block;
        margin-right: 5px;
        font-size: 1.2em;
    }
    .attitude {
        font-weight: bold;
    }
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
<!-- Display game chat -->
    <p>End of game: {{ game_id }}</p>
    <h2>End of Game Summary</h2>
    <div class="chat-box">
    {% for sender, details in messages_by_sender.items %}
        <div class="sender-block">
            <h3>{{ sender }}:</h3>
            <p>Throughout the game, your reactions were as follows:</p>
            <div class="emoji-sequence">
                {% for emoji, _ in details.reactions %}
                    {% if emoji %}
                        <span class="emoji">{{ emoji }}</span>
                    {% endif %}
                {% endfor %}
            </div>
            <p>Here's a summary of your attitudes during the game:</p>
            <div class="attitude-summary">
                {% for attitude, count in attitude_summary.items %}
                    <div class="attitude-info">
                        {% if count %}
                            <span class="attitude">{{ attitude }}:</span>
                            <span class="count">{{ count }}</span>
                            <!-- <span class="attitude-count">{{ details.attitude_summary }}</span> -->
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <p>Reflect on how these attitudes have shaped your game experience and interactions.</p>
        </div>
    {% endfor %}
    </div>
</div>

<a href="{% url 'initiate_game_session' %}" class="btn btn-primary">Start New Game</a>

{% endblock content %}
