{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="game-info">
            <h2 class="game-id">Game Progress for Game ID: <span>{{ game_session.game_id }}</span></h2>
            <div class="current-turn-box">Current Turn: <span>{{ game_session.current_game_turn.turn_number }}</span></div>
        </div>
        <!-- Progress Steps -->
        <ul class="nav nav-pills mb-3">
            <li class="nav-item">
                <a class="nav-link {% if game_session.current_game_turn.state == 'select_question' %}active{% endif %}" href="#">Select Question</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if game_session.current_game_turn.state == 'answer_question' %}active{% endif %}" href="#">Answer Question</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if game_session.current_game_turn.state == 'react_emoji' %}active{% endif %}" href="#">React with Emoji</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if game_session.current_game_turn.state == 'narrative_choices' %}active{% endif %}" href="#">Select Narrative</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if game_session.current_game_turn.state == 'moon_phase' %}active{% endif %}" href="#">Special Moon Sign Phase</a>
            </li>
        </ul>

        <!-- Display game chat -->
        <div class="chat-box">
            {% for message in chat_messages %}
                <div class="chat-message {% if message.sender == playerC %}right{% else %}left{% endif %}">
                    <div class="message-bubble">
                        <span class="message-content">{{ message.text }}</span>
                        {% if message.reaction %}
                            <span class="emoji">{{ message.reaction }}</span>
                        {% endif %}
                    </div>

                    <div class="message-info">
                        <img src="{{ message.avatar_url }}" alt="Avatar" class="avatar">
                        <span class="sender">{{ message.sender }}</span>
                        <span class="timestamp">{{ message.timestamp|date:"F j, Y, g:i a" }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>

            <!-- Display actions based on the game phase -->
        <div class="action-section">
            {% if game_session.current_game_turn.state == 'narrative_choices' %}
                {% if choice_made == False %}
                    <h3>Select a Narrative Choice</h3>
                    <!-- {{ narrative_form.narrative.label_tag }} -->
                    {{ narrative_form.narrative }}
                    <button id="submit-narrative-choice" data-action="select_narrative">Submit Choice</button>
                {% else %}
                    <p>You have already made a narrative choice. Please wait for the other players to make their choices.</p>
                {% endif %}
            {% elif active_player == request.user.player %}
                {% if game_session.current_game_turn.state == 'moon_phase' %}
                    <div class = "moon-sign-class">
                        <h3>The Moon is currently in its {{ moon_phase }} phase:</h3>
                        {% if current_value == 'Ambiguous' %}
                            <div class="moon-meaning">
                                <p>For you {{ moon_phase }} used to be a {{ current_value }} Sign because {{ reason }}.</p>
                                <p>Now it's the time to decide, is this a positive or negative moon sign?</p>
                                <div class="moon-meaning-choice">
                                    <input type="radio" name="moon-meaning" id="positive" value="positive">
                                    <label for="positive">Positive</label>
                                </div>
                                <div class="moon-meaning-choice">
                                    <input type="radio" name="moon-meaning" id="negative" value="negative">
                                    <label for="negative">Negative</label>
                                </div>
                                <button id="submit-moon-meaning" data-action="moon_meaning">Submit Moon Meaning</button>
                            </div>
                        {% else %}
                            <p>For you {{ moon_phase }} is a {{ current_value }} Sign because {{ reason }}.</p>
                            <p>Share with your partner your most recently discovered meaning of this moon phase:</p>
                            <div id="interactive-container">
                                <div id="tag-container">
                                  <!-- Tags will be generated here -->
                                  {% for tag in tags_answer %}
                                    <div class="draggable" draggable="true" id="tag-{{ forloop.counter }}">{{ tag }}</div>
                                  {% endfor %}
                                </div>
                                <div id="answer-section">
                                  <div id="current-sentence" class="droppable">
                                    <!-- Tags will be dragged here -->
                                  </div>
                                  <input type="hidden" name="answer" id="hidden-answer-field">
                                  <button id="clear-all" data-action="'clear_all">Clear All</button>
                                  <button id="share-moon-meaning" data-action = "moon_phase">Submit Answer</button>
                                </div>
                              </div>
                            </div>
                        {% endif %}
                    </div>
                {% else %}
                    {% if game_session.current_game_turn.state == 'select_question' %}
                        <h3>Select a Question</h3>
                        {% for question in random_questions %}
                        <div>
                            <input type="radio" name="question" id="question_{{ question.id }}" value="{{ question.id }}">
                            <label for="question_{{ question.id }}">{{ question.text }}</label>
                        </div>
                        {% endfor %}
                        <button id="submit-question" data-action="submit_question">Submit Question</button>

                    {% elif game_session.current_game_turn.state == 'answer_question' %}
                       <h3>Answer the Question</h3>
                        <div id="interactive-container">
                          <div id="tag-container">
                            <!-- Tags will be generated here -->
                            {% for tag in tags_answer %}
                              <div class="draggable" draggable="true" id="tag-{{ forloop.counter }}">{{ tag }}</div>
                            {% endfor %}
                          </div>
                          <div id="answer-section">
                            <div id="current-sentence" class="droppable">
                              <!-- Tags will be dragged here -->
                            </div>
                            <input type="hidden" name="answer" id="hidden-answer-field">
                            <button id="clear-all" data-action="'clear_all">Clear All</button>
                            <button id="submit-answer" data-action = "submit_answer">Submit Answer</button>
                          </div>
                        </div>
                    {% elif game_session.current_game_turn.state == 'react_emoji' %}
                        <h3>React with an Emoji:</h3>
                            <div id="emoji-react-form">
                                {% for radio in emoji_form.emoji %}
                                    <div class="emoji-radio">
                                        {{ radio.tag }}  <!-- This is the actual radio button input -->
                                        <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                            <button id="submit-emoji" data-action="react_emoji">Submit Reaction</button>
                    {% endif %}
                {% endif %}
            {% else %}
                <p>You are not the active player. Please wait for your turn.</p>
            {% endif %}
        </div>

        <div class="end-button">
            <button id="end-game-session" class="btn btn-danger" data-action="end_game">End Game Session</button>
        </div>
    </div>

    <script type="text/javascript">
        // Establishing a WebSocket connection to the server
        const gameId = '{{ game_session.game_id }}';
        const gameSocket = new WebSocket(`ws://${window.location.host}/ws/game_progress/${gameId}/`);
        console.log("Game ID: ", gameId);
        console.log("gameSocket: ", gameSocket);

        gameSocket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            console.log("Message received: ", data);
            // Handle different types of messages
            switch (data.command) {
                case 'refresh':
                    // Trigger a page refresh
                    window.location.reload(true);
                    break;
                case 'navigate':
            // Navigate to a given URL provided by the server
                    if (data.url) {
                        window.location.href = data.url;
                    }
                    break;
            }
        };

        gameSocket.onopen = function() {
            console.log("WebSocket connection established");
        };
        gameSocket.onerror = function(error) {
            console.error("WebSocket error observed:", error);
        };
        gameSocket.onclose = function(e) {
            console.log("WebSocket connection closed");
        };

        document.addEventListener('DOMContentLoaded', function() {
            document.body.addEventListener('click', function(e) {
                if (e.target.dataset.action) {
                    // print(e.target.dataset.action)
                    e.preventDefault();
                    const actionType = e.target.dataset.action;
                    let value;
                    switch (actionType) {
                        case 'select_narrative':
                            // Get all radio buttons with the name "narrative"
                            const narrativeChoices = document.querySelectorAll('input[name="narrative"]:checked');

                            // Get the value of the selected radio button
                            let narrativeChoiceValue = null;
                            narrativeChoices.forEach((choice) => {
                                if (choice.checked) {
                                    narrativeChoiceValue = choice.value;
                                }
                            });

                            if (narrativeChoiceValue) {
                                value = narrativeChoiceValue;
                            } else {
                                alert("Please select a narrative.");
                            }
                            break;
                        case 'moon_phase':
                            // Collect the text from each tag in #current-sentence and join them into a single string
                            let moon_answer = Array.from(document.querySelectorAll('#current-sentence'))
                                                .map(tag => tag.textContent.trim())
                                                .join(' ');
                            if (moon_answer.length === 0) {
                                alert("Please select at least one word.");
                            } else {
                            value = moon_answer;
}
                            break;
                        case 'moon_meaning':
                            // Get all radio buttons with the name "moon-meaning"
                            const moonMeaningChoices = document.querySelectorAll('input[name="moon-meaning"]:checked');

                            // Get the value of the selected radio button
                            let moonMeaningChoiceValue = null;
                            moonMeaningChoices.forEach((choice) => {
                                if (choice.checked) {
                                    moonMeaningChoiceValue = choice.value;
                                }
                            });

                            if (moonMeaningChoiceValue) {
                                value = moonMeaningChoiceValue;
                            } else {
                                alert("Please select a new moon meaning.");
                            }
                            break;

                        case 'submit_question':
                            var questionValue = document.querySelector('input[name="question"]:checked');
                            if (questionValue == null) {
                                alert("Please select a question.");
                            } else {
                                value = questionValue.value;
                            }
                            break;
                        case 'react_emoji':
                            var emojiValue = document.querySelector('input[name="emoji"]:checked');
                            // Check if an emoji was selected
                            if (emojiValue == null) {
                                // If no emoji is selected, show an alert or prompt
                                alert("Please select an emoji.");
                            } else {
                                // If an emoji is selected, proceed with your logic
                                value = emojiValue.value;
                                // ... your existing logic for when an emoji is selected
                            }
                            break;
                        case 'end_game':
                            value = gameId;
                            break;
                        case 'submit_answer':
                            // Collect the text from each tag and join them into a single string
                            let answer = Array.from(document.querySelectorAll('#current-sentence'))
                                      .map(tag => tag.textContent.trim())
                                      .join(' ');
                            if (answer.length === 0) {
                                alert("Please select at least one word.");
                            } else {
                                value = answer;
                            }
                            break;
                        case 'clear_all':
                            // Clear the current sentence container and the hidden input field
                            document.querySelector('#current-sentence').innerHTML = '';
                            document.querySelector('#hidden-answer-field').value = '';
                            break;
                    }
                    console.log("Value: ", value);
                    console.log("Action Type: ", actionType);
                    if (value) {
                        gameSocket.send(JSON.stringify({ action: actionType, value: value }));
                    }
            }
        });
    });
    </script>
{% endblock content %}

{% block styles %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="{% static 'js/tagging.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
{% endblock %}
