{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="game-info">
            <h2 class="game-id">Game Progress for Game ID: <span>{{ game_session.game_id }}</span></h2>
            <div class="current-turn-box">Current Turn: <span>{{ game_session.current_game_turn.turn_number }}</span></div>
        </div>
        <!-- Progress Steps -->
        <ul class="nav nav-pills mb-3">
            <li class="nav-item">
                <a class="nav-link {% if game_session.current_game_turn.state == 'select_question' %}active{% endif %}" href="#">Select Question</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if game_session.current_game_turn.state == 'answer_question' %}active{% endif %}" href="#">Answer Question</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if game_session.current_game_turn.state == 'react_emoji' %}active{% endif %}" href="#">React with Emoji</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if game_session.current_game_turn.state == 'narrative_choices' %}active{% endif %}" href="#">Select Narrative</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if game_session.current_game_turn.state == 'moon_phase' %}active{% endif %}" href="#">Special Moon Sign Phase</a>
            </li>
        </ul>

        <!-- Display game chat -->
        <div class="chat-box">
            {% for message in chat_messages %}
                <div class="chat-message {% if message.sender == playerC %}right{% else %}left{% endif %}">
                    <div class="message-bubble">
                        <span class="message-content">{{ message.text }}</span>
                        {% if message.reaction %}
                            <span class="emoji">{{ message.reaction }}</span>
                        {% endif %}
                    </div>

                    <div class="message-info">
                        <span class="sender">{{ message.sender }}</span>
                        <span class="timestamp">{{ message.timestamp|date:"F j, Y, g:i a" }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>

            <!-- Display actions based on the game phase -->
        <div class="action-section">
            {% if game_session.current_game_turn.state == 'narrative_choices' %}
                {% if choice_made == False %}
                    <h3>Select a Narrative Choice</h3>
                    {{ narrative_form.narrative.label_tag }}
                    {{ narrative_form.narrative }}
                    <button id="submit-narrative-choice" data-action="select_narrative">Submit Choice</button>
                {% else %}
                    <p>You have already made a narrative choice. Please wait for the other players to make their choices.</p>
                {% endif %}
            {% elif active_player == request.user.player %}
                {% if game_session.current_game_turn.state == 'moon_phase' %}
                    <h3>Moon Sign Phase: {{ moon_phase }}</h3>
                    <p>The Moon is currently in its {{ moon_phase }} phase. Share your personal meaning of the moon phase:</p>
                    <textarea id="moon-meaning-text" rows="1" cols="140" placeholder="Share your personal meaning..."></textarea><br>
                    <button id="share-moon-meaning" data-action="moon_phase">Share</button>
                    <!-- You can add any additional Moon Sign Phases related content or actions here. -->
                {% else %}
                    {% if game_session.current_game_turn.state == 'select_question' %}
                        <h3>Select a Question</h3>
                        {% for question in random_questions %}
                        <div>
                            <input type="radio" name="question" id="question_{{ question.id }}" value="{{ question.id }}">
                            <label for="question_{{ question.id }}">{{ question.text }}</label>
                        </div>
                        {% endfor %}
                        <button id="submit-question" data-action="select_question">Submit Question</button>

                    {% elif game_session.current_game_turn.state == 'answer_question' %}
                       <h3>Answer the Question</h3>
                        <div id="interactive-container">
                          <div id="tag-container">
                            <!-- Tags will be generated here -->
                            {% for tag in tags_answer %}
                              <div class="draggable" draggable="true" id="tag-{{ forloop.counter }}">{{ tag }}</div>
                            {% endfor %}
                          </div>
                          <div id="answer-section">
                            <div id="current-sentence" class="droppable">
                              <!-- Tags will be dragged here -->
                            </div>
                            <input type="hidden" name="answer" id="hidden-answer-field">
                            <button id="clear-all" type="button">Clear All</button>
                            <button id="submit-answer" type="button">Submit Answer</button>
                          </div>
                        </div>
                    {% elif game_session.current_game_turn.state == 'react_emoji' %}
                        <h3>React with an Emoji</h3>
                        {{ emoji_form.emoji.label_tag }}
                        {{ emoji_form.emoji }}
                        <button id="submit-emoji" data-action="react_emoji">Submit Reaction</button>
                    {% endif %}
                {% endif %}
            {% else %}
                <p>You are not the active player. Please wait for your turn.</p>
            {% endif %}
        </div>

        <div class="end-button">
            <button id="end-game-session" class="btn btn-danger" data-action="end_game">End Game Session</button>
        </div>
    </div>

    <script type="text/javascript">
        // Establishing a WebSocket connection to the server
        const gameId = '{{ game_session.game_id }}';
        const gameSocket = new WebSocket(`ws://${window.location.host}/ws/game_progress/${gameId}/`);
        console.log("Game ID: ", gameId);
        console.log("gameSocket: ", gameSocket);

        gameSocket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            console.log("Message received: ", data);
            // Handle different types of messages
            switch (data.command) {
                case 'refresh':
                    // Trigger a page refresh
                    window.location.reload(true);
                    break;

            }
        };
        gameSocket.onopen = function() {
            console.log("WebSocket connection established");
        };
        gameSocket.onerror = function(error) {
            console.error("WebSocket error observed:", error);
        };
        gameSocket.onclose = function(e) {
            console.log("WebSocket connection closed");
        };

        document.addEventListener('DOMContentLoaded', function() {
            document.body.addEventListener('click', function(e) {
                // Check if the clicked element has an ID or a data-action attribute
                if (e.target.id === 'submit-narrative-choice') {
                    e.preventDefault();
                    // Get all radio buttons with the name "narrative"
                    const narrativeChoices = document.querySelectorAll('input[name="narrative"]:checked');

                    // Get the value of the selected radio button
                    let narrativeChoiceValue = null;
                    narrativeChoices.forEach((choice) => {
                        if (choice.checked) {
                            narrativeChoiceValue = choice.value;
                        }
                    });

                    if (narrativeChoiceValue) {
                        gameSocket.send(JSON.stringify({
                            action: 'select_narrative',
                            value: narrativeChoiceValue
                        }));
                    } else {
                        console.error('No narrative choice selected.');
                    }
                } else if (e.target.id === 'share-moon-meaning') {
                    e.preventDefault();
                    const moonMeaning = document.querySelector('#moon-meaning-text').value;
                    gameSocket.send(JSON.stringify({
                        action: 'moon_phase',
                        value: moonMeaning
                    }));
                } else if (e.target.dataset.action) {
                    e.preventDefault();
                    const actionType = e.target.dataset.action;
                    let value;
                    switch (actionType) {
                        case 'select_question':
                            const selectedQuestion = document.querySelector('input[name="question"]:checked');
                            value = selectedQuestion ? selectedQuestion.value : null;
                            break;
                        case 'react_emoji':
                            value = document.querySelector('input[name="emoji"]:checked').value;
                            break;
                        case 'end_game':
                            value = gameId;
                            break;
                    }
                    gameSocket.send(JSON.stringify({ action: actionType, value: value }));
                } else if (e.target.id === 'submit-answer') {
                    e.preventDefault();

                    // Collect the text from each tag and join them into a single string
                    let answer = Array.from(document.querySelectorAll('#current-sentence'))
                                      .map(tag => tag.textContent.trim())
                                      .join(' ');

                    // Send the answer through the WebSocket
                    gameSocket.send(JSON.stringify({ action: 'answer_question', value: answer }));

                } else if (e.target.id === 'clear-all') {
                    // Clear the current sentence container and the hidden input field
                    document.querySelector('#current-sentence').innerHTML = '';
                    document.querySelector('#hidden-answer-field').value = '';
                }
            });
        });
    </script>
{% endblock content %}

{% block styles %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="{% static 'js/tagging.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
{% endblock %}
