{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h2>Game Progress for Game ID: {{ game_session.game_id }}</h2>
        <!-- Progress Steps -->
        <ul class="nav nav-pills mb-3">
            <li class="nav-item">
                <a class="nav-link {% if game_session.current_game_turn.state == 'select_question' %}active{% endif %}" href="#">Select Question</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if game_session.current_game_turn.state == 'answer_question' %}active{% endif %}" href="#">Answer Question</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if game_session.current_game_turn.state == 'react_emoji' %}active{% endif %}" href="#">React with Emoji</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if game_session.current_game_turn.state == 'narrative_choices' %}active{% endif %}" href="#">Select Narrative</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if game_session.current_game_turn.state == 'moon_phase' %}active{% endif %}" href="#">Special Moon Sign Phase</a>
            </li>
        </ul>

        <p>Current Turn: {{ game_session.current_game_turn.turn_number }}</p>
        <!-- Display game chat -->
        <div class="chat-box">
            {% for message in chat_messages %}
                <div class="message">
                    <strong>{{ message.sender }}:</strong> {{ message.text }}
                    <small class="timestamp">{{ message.timestamp|date:"F j, Y, g:i a" }}</small>
                    {% if message.reaction %}
                        <span class="emoji">{{ message.reaction }}</span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <!-- Display actions based on the game phase -->
        {% if game_session.current_game_turn.state == 'narrative_choices' %}
            {% if choice_made == False %}
                <h3>Select a Narrative Choice</h3>
                {{ narrative_form.narrative.label_tag }}
                {{ narrative_form.narrative }}
                <button id="submit-narrative-choice" data-action="select_narrative">Submit Choice</button>
            {% else %}
                <p>You have already made a narrative choice. Please wait for the other players to make their choices.</p>
            {% endif %}
        {% elif active_player == request.user.player %}
            {% if game_session.current_game_turn.state == 'moon_phase' %}
                <h3>Moon Sign Phase: {{ moon_phase }}</h3>
                <p>The Moon is currently in its {{ moon_phase }} phase. Share your personal meaning of the moon phase:</p>
                <textarea id="moon-meaning-text" rows="1" cols="140" placeholder="Share your personal meaning..."></textarea><br>
                <button id="share-moon-meaning" data-action="moon_phase">Share</button>
                <!-- You can add any additional Moon Sign Phases related content or actions here. -->
            {% else %}
                {% if game_session.current_game_turn.state == 'select_question' %}
                    <h3>Select a Question</h3>
                    {{ question_form.question.label_tag }}
                    {{ question_form.question }}
                    <button id="submit-question" data-action="select_question">Submit Question</button>

                {% elif game_session.current_game_turn.state == 'answer_question' %}
                   <h3>Answer the Question</h3>
                    <textarea id="answer-input" rows="1" cols="100" placeholder="Type your answer here..."></textarea>
                    <button id="submit-answer" data-action="answer_question">Submit Answer</button>

                {% elif game_session.current_game_turn.state == 'react_emoji' %}
                    <h3>React with an Emoji</h3>
                    {{ emoji_form.emoji.label_tag }}
                    {{ emoji_form.emoji }}
                    <button id="submit-emoji" data-action="react_emoji">Submit Reaction</button>
                {% endif %}
            {% endif %}
        {% else %}
            <p>You are not the active player. Please wait for your turn.</p>
        {% endif %}

        <button id="end-game-session" class="btn btn-danger" data-action="end_game">End Game Session</button>
    </div>

    <script type="text/javascript">
        // Establishing a WebSocket connection to the server
        const gameId = '{{ game_session.game_id }}';
        const gameSocket = new WebSocket(`ws://${window.location.host}/ws/game_progress/${gameId}/`);
        console.log("Game ID: ", gameId);
        console.log("gameSocket: ", gameSocket);

        gameSocket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            console.log("Message received: ", data);
            // Handle different types of messages
            switch (data.command) {
                case 'refresh':
                    // Trigger a page refresh
                    window.location.reload(true);
                    break;

            }
        };

        gameSocket.onopen = function() {
            console.log("WebSocket connection established");
        };
        gameSocket.onerror = function(error) {
            console.error("WebSocket error observed:", error);
        };
        gameSocket.onclose = function(e) {
            console.log("WebSocket connection closed");
        };

        document.addEventListener('DOMContentLoaded', function() {
            document.body.addEventListener('click', function(e) {
                // Check if the clicked element has an ID or a data-action attribute
                if (e.target.id === 'submit-narrative-choice') {
                    e.preventDefault();
                    // Get all radio buttons with the name "narrative"
                    const narrativeChoices = document.querySelectorAll('input[name="narrative"]:checked');

                    // Get the value of the selected radio button
                    let narrativeChoiceValue = null;
                    narrativeChoices.forEach((choice) => {
                        if (choice.checked) {
                            narrativeChoiceValue = choice.value;
                        }
                    });

                    if (narrativeChoiceValue) {
                        gameSocket.send(JSON.stringify({
                            action: 'select_narrative',
                            narrative: narrativeChoiceValue
                        }));
                    } else {
                        console.error('No narrative choice selected.');
                    }
                } else if (e.target.id === 'share-moon-meaning') {
                    e.preventDefault();
                    const moonMeaning = document.querySelector('#moon-meaning-text').value;
                    gameSocket.send(JSON.stringify({
                        action: 'moon_phase',
                        moon_meaning: moonMeaning
                    }));
                } else if (e.target.dataset.action) {
                    e.preventDefault();
                    const actionType = e.target.dataset.action;
                    let value;
                    switch (actionType) {
                        case 'select_question':
                            value = document.querySelector('select[name="question"]').value;
                            break;
                        case 'answer_question':
                            value = document.querySelector('#answer-input').value;
                            break;
                        case 'react_emoji':
                            value = document.querySelector('input[name="emoji"]:checked').value;
                            break;
                    }
                    gameSocket.send(JSON.stringify({ action: actionType, value: value }));
                } else if (e.target.id === 'end-game-session') {
                    e.preventDefault();
                    if (confirm('Are you sure you want to end the game session?')) {
                        gameSocket.send(JSON.stringify({
                            action: 'end_game',
                            game_id: gameId
                        }));
                    }
                }
            });
        });
    </script>
{% endblock %}