{% extends "base.html" %}

{% block title %}About Roleplay and then Date{% endblock %}

{% block content %}
    <div class="container my-5" style="margin-top:0%; padding: 20px; border-radius: 10px; font-weight: bold; height: 100%;"> <!-- Added background color and some padding for visual enhancement -->
        <h2 class="display-4 text-left mb-5">About Roleplay and then Date</h2>
        <h3 class="mb-4">A Fresh Approach to Dating</h3>
        <p class="lead">
            Most dating apps have you swipe, match, chat, and then see if sparks fly. But what if you could connect deeply before even exchanging a word? Enter "Roleplay and then Date", where we flip the script and let you build connections through immersive role-playing.
        </p>

        <h4 class="mt-5 mb-3 text-white">How It Works:</h4>
        <div class="mb-4" style="background-color: rgba(44, 24, 74, 0.8); padding: 15px; border-radius: 5px;">
            <ol>
                <li class="mb-3">
                    <strong class="h5">Love Letters:</strong> Start your day by sending a heartfelt 'love letter' to three handpicked profiles near you. If feelings are mutual, the story begins.
                </li>
                <li class="mb-3">
                    <strong class="h5">Moonlit Journey:</strong> Dive into a 28-day long role-playing narrative as moon cultists. Anonymous identities mean it's just you, them, and the tale. Forge a bond, not just by words, but by choices you make in the story.
                </li>
                <li>
                    <strong class="h5">Reveal & Connect:</strong> After your journey, if a bond is formed, you transition to chat. Here, you can uncover each other’s identity, reminisce your shared adventure, and craft the next chapter of your relationship.
                </li>
            </ol>
        </div>
        
        <p class="text-center font-italic">
            Dive in, be genuine, and find connections that aren't just skin deep.
        </p>
    </div>
{% endblock %}
