{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}

{% block content %}
  <div class="profile-edit-container">
    <h2>Edit Profile</h2>
    <form method="post" action="{% url 'profile_updated' %}">
      {% csrf_token %}

      <!-- Open to Dating -->
      <div class="form-group">
        <label for="{{ form.open_to_dating.id_for_label }}">Open to Dating:</label>
        {{ form.open_to_dating }}
      </div>

      <!-- Pronoun Preferences -->
      <div class="form-group">
        <label for="{{ form.pronoun_preference.id_for_label }}">Pronoun Preference:</label>
        {{ form.pronoun_preference }}
      </div>

      <!-- Custom Pronoun (only displayed when 'Other' is selected) -->
      <div class="form-group" id="custom-pronoun">
        <label for="{{ form.custom_pronoun.id_for_label }}">Custom Pronoun:</label>
        {{ form.custom_pronoun }}
      </div>

      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
{% endblock %}



{% comment %}
{% block content %}
  <h2>Edit Profile</h2>
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Save</button>
  </form>
{% endblock %}
{% endcomment %}