{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<style>
  html {
    height: 100%;
    width: 100%;
  }

  .center-screen {
      display: flex;
      justify-content: center;
      align-items: center;
      /* top: 150px;  Viewport Height */
      /* flex-direction: column;  Stack the items vertically */
      height: 100%;
  }
  .content-container {
      justify-content: center;
      align-items: center;
      /* width: 300vh; */
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      max-width: 317px;
      margin: 20px auto;
      padding: 20px;
      border: 1px solid #8763a7;
      border-radius: 5px;
      background-color: rgba(44, 24, 74, 0.8);
      text-align: center;
      height: 160px;
      width: 300px;
}
</style>

<div class="center-screen">
  <div class="content-container">
      {% if user.is_authenticated %}
      <!-- Hi {{ user }}! -->
      Hi {{ user.username }}!
      <p>Pronoun: 
        {% if user.profile.pronoun_preference %}
          ({{ user.profile.get_pronoun_preference_display }})
        {% else %}
          (Not specified)
        {% endif %}
      </p>
      <!-- <p>Pronoun: {{ user.profile.get_pronoun_preference_display }}</p> -->
      <!-- {% if user.profile.custom_pronoun %} -->
      <!-- <p>Pronoun: {{ user.profile.custom_pronoun }}</p> -->
      <!-- {% endif %} -->
      <p><a href="{% url 'edit_profile' %}">Edit Profile</a></p>
      <p><a href="{% url 'logout' %}">Log Out</a></p>
      {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">Log In</a>
      {% endif %}
  </div>
</div>

{% endblock %}