{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}


<div class="login-container">
    <h2 class="text-center">Log In</h2>
    <div style="height: 25px;"></div>

    <form method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
        
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
                {% if field.name == "password" %} <!-- Added condition to check for password field -->
                    <p style="margin-top: 5px;"><a href="{% url 'password_reset' %}" style="font-size: 0.8rem;">Forgot Password</a></p> <!-- Moved and styled the link -->
                {% endif %}
            </div>
        {% endfor %}
        <!-- Display non-field specific errors here -->
        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary btn-block">Log In</button>
    </form>
    
    <div class="text-center mt-3">
        <small>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></small>
    </div>
</div>

{% endblock %}
